{{define "menu.html"}}
  <aside class="menu" style="background-color: whitesmoke ;padding: 10px;">
    <p class="menu-label">
      {{.user}}'s cookies
    </p>
    <ul class="menu-list">
      <li><a>Create New cookie Recipe</a></li>
      <li><a>List my cookies</a></li>
      <li><a>Search cookies</a></li>
    </ul>
    <p class="menu-label">
      Settings
    </p>
    <ul class="menu-list">
      <li><a>Profile</a></li>
      <li><a>Payments</a></li>
      <li><a>Affiliates</a></li>
    </ul>
  </aside>
{{end}}
